@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.header-container {
  text-align: center;
  background-color: #20232a;
  color: white;
}

h1 {
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

span {
  color: #3fccfb;
}

.logo {
  position: relative;
  color: #3fccfb;
  font-weight: 600;
  font-size: 1.2rem;
}
.nav {
  font-weight: 300;
  font-size: 1.1rem;
  margin: 0 20px;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #3fccfb;
}

.menu-active {
  border-bottom: 4px solid #3fccfb;
  color: #3fccfb;
}
.react {
  color: #3fccfb;
}
i {
  font-size: 1.5rem;
}
input {
  width: 12vw;
  height: 30px;
  background-color: #20232a;
  border: none;
}
input:focus {
  border: none;
  outline: transparent;
  background-color: #373940;
}
.small {
  font-size: 15px;
}
@media only screen and (max-width: 870px) {
  .support {
    display: block;
  }
  #hide {
    display: none;
  }
}

/*Cover*/

.cover {
  text-align: center;
  background-color: #282c34;
  color: white;
}
#back-cover {
  position: absolute;
  font-size: 42rem;
  color: #32363e;
  top: -7%;
}
.white {
  background-color: white;
  position: relative;
  z-index: 2;
  height: 40rem;
}
.index {
  position: relative;
  z-index: 2;
}
.main-heading {
  padding-top: 7%;
  font-size: 3.5rem;
  color: #3fccfb;
  font-weight: 700;
  padding-bottom: 5px;
}

h2 {
  letter-spacing: 1px;
  font-size: 1.7rem;
  font-weight: 300;
  padding-bottom: 5%;
}

.get-btn {
  background-color: #3fccfb;
  padding: 15px 23px;
  color: black;
  font-size: 2.8vmin;
  font-weight: 400;
}

.get-btn:hover {
  background-color: white;
  color: black;
}
.take-tutorial {
  color: #3fccfb;
  font-size: 2.8vmin;
  position: relative;
  z-index: 2;
}
.get-take {
  margin-bottom: 5%;
}

@media screen and (max-width: 1200px) {
  .hide {
    display: none;
  }
}
/*Blog*/
.para {
  font-size: 3.5vmin;
  color: rgb(121, 120, 120);
}

.vertical-menu {
  padding-top: 10%;
  position: sticky;
  background-color: #f7f7f7;
  width: 395px; /* Set a width if you like */
  padding-bottom: 85%;
}

.vertical-menu a {
  /* Grey background color */
  color: rgb(0, 0, 0); /* Black text color */
  font-weight: 400;
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  color: rgb(158, 157, 157); /* Dark grey background on mouse-over */
}

.active {
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.pr-6 {
  padding-right: 15%;
}
